body {
  font-family: $font-base;
  font-size: $font-size-base;
  color: $color-texto;
  background-color: $color-gris-fondo;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  color: $color-primario;
  font-weight: 700;
}
a {
  color: $color-link;
  text-decoration: underline;
  transition: color 0.15s;
  &:hover, &:focus {
    color: darken-color($color-link, 10%);
  }
}
strong {
  font-weight: bold;
}