
.main--contacto {
  background: #f9fafc;
  padding-bottom: $espaciado-lg;
}
.contact--principal {
  margin: $espaciado-lg auto 0 auto;
  max-width: 900px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 12px rgba(0,0,0,.04);
  padding: $espaciado-lg;
}
.contact__title {
  font-size: 2em;
  color: $color-primario;
  margin-bottom: $espaciado-md;
  text-align: center;
}
.contact__intro {
  text-align: center;
  color: $color-texto;
  margin-bottom: $espaciado-lg;
  font-size: 1.14em;
}
.contact__info {
  margin-top: $espaciado-lg;
  background: $color-gris-fondo;
  border-radius: 5px;
  padding: $espaciado-md;
  &-title {
    font-weight: 700;
    color: $color-primario;
    margin-bottom: $espaciado-xs;
  }
  &-list {
    li {margin-bottom: .6em;}
    .contact__info-label {
      color: $color-secundario; font-weight: 600;
    }
  }
}

.contact__info {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease-out;
}

.contact__info.is-visible {
  opacity: 1;
  transform: translateY(0);
}
